@model InfoSecTechTest.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <p>@Html.DisplayFor(model => model.Body)</p>
</div>
<p>
    @Html.ActionLink("Back to Contents", "Index")
</p>
